@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('./font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dayin:before {
  content: "\e66a";
}

.icon-bumennvfuzeren:before {
  content: "\e66b";
}

.icon-feidianziwenjian:before {
  content: "\e66c";
}

